<form action = "/puppies" method = "post">
<label> Puppy Name: </label>
<input type = "text" name = "name"><br>
<label> Puppy Breed: </label>
<input type = "text" name = "breed">
<input type = "submit" value = "Submit">
</form> 